<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" name="viewport"/>
    <link rel="icon" href="{{ url_for('static', filename='email-icon.png') }}" type="image/png">
    <title>Web to Email</title>
    <link rel="stylesheet" href="/static/indexStyle.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <a href="/"><h1>Web to Email</h1></a>
        </div>
        <div class="message">
            <h2>An important message about this tool</h2>
            <p>The new iModules email workflow is available and this Web-to-Email tool is no longer required to send iModules emails. <strong>The WCMS Email builder and this Web-to-Email tool will be shutdown on May 15, 2019.</strong></p>
            <p><a href="https://communications.ucsc.edu/email/training-and-support/">Learn more about the new iModules email workflow.</a></p>
        </div>
        <div id="form">
            <form action="" method="get" name="get_url">
                <p>
                    <H2>URL to Convert</H2>
                    {{ form.url(class_="query") }}<br>
                    {% for error in form.url.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <span class="flashed-message" style="color: red;">{{ message }} </span>
                                <br>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    </p>
                <p><input type="submit" value="Fetch and prepare this URL"></p>
            </form>
        </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32032218-3', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
